<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f7f7f7">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b1b1e">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
  >

  {{ page.precomputed_seo_html }}


  <title>
    {%- unless page.layout == 'home' -%}
      {{ page.title | append: ' | ' }}
    {%- endunless -%}
    {{ site.title }}
  </title>

  {% include_cached favicons.html %}

  {% include_cached head/assets.html
    type=type
    lang=lang
    layout=page.layout
    mermaid=page.mermaid
    math=page.math
    toc=site.toc
    page_toc=page.toc
    has_h2_h3=page.has_h2_h3
  %}
</head>
