<!-- JS selector for site. -->

<!-- commons -->
{% assign urls = site.data.origin[include.type].search.js %}

<!-- layout specified -->
{% if include.layout == 'post' or include.layout == 'page' or include.layout == 'home' %}
  {% assign urls = urls | append: ',' | append: site.data.origin[include.type]['lazy-polyfill'].js %}

  {% unless include.layout == 'home' %}
    <!-- image lazy-loading & popup & clipboard -->
    {% assign urls = urls
      | append: ','
      | append: site.data.origin[include.type].glightbox.js
      | append: ','
      | append: site.data.origin[include.type].clipboard.js
    %}
  {% endunless %}
{% endif %}

{% if include.layout == 'home'
  or include.layout == 'post'
  or include.layout == 'archives'
  or include.layout == 'category'
  or include.layout == 'tag'
%}
  {% assign locale = include.lang | split: '-' | first %}

  {% assign urls = urls
    | append: ','
    | append: site.data.origin[include.type].dayjs.js.common
    | append: ','
    | append: site.data.origin[include.type].dayjs.js.locale
    | replace: ':LOCALE', locale
    | append: ','
    | append: site.data.origin[include.type].dayjs.js.relativeTime
    | append: ','
    | append: site.data.origin[include.type].dayjs.js.localizedFormat
  %}
{% endif %}

{% if include.has_h2_h3 and include.toc and include.page_toc %}
  {% assign urls = urls | append: ',' | append: site.data.origin[include.type].toc.js %}
{% endif %}

{% if include.mermaid %}
  {% assign urls = urls | append: ',' | append: site.data.origin[include.type].mermaid.js %}
{% endif %}

{% include jsdelivr-combine.html urls=urls %}

{% case include.layout %}
  {% when 'home', 'categories', 'post', 'page' %}
    {% assign js = include.layout %}
  {% when 'archives', 'category', 'tag' %}
    {% assign js = 'misc' %}
  {% else %}
    {% assign js = 'commons' %}
{% endcase %}

{% capture script %}/assets/js/dist/{{ js }}.min.js{% endcapture %}

<script defer src="{{ script | relative_url }}"></script>

{% if include.math %}
  <!-- MathJax -->
  <script defer src="{{ '/assets/js/data/mathjax.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/math-copy.js' | relative_url }}"></script>
  <script defer src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" defer src="{{ site.data.origin[include.type].mathjax.js | relative_url }}"></script>
  <script defer src="{{ '/assets/js/math-lazy-fallback.js' | relative_url }}"></script>
{% endif %}

<!-- Pageviews -->
{% if include.layout == 'post' %}
  {% assign provider = site.pageviews.provider %}

  {% if provider and provider != empty %}
    {% case provider %}
      {% when 'goatcounter' %}
        {% if site.analytics[provider].id != empty and site.analytics[provider].id %}
          {% include pageviews/{{ provider }}.html %}
        {% endif %}
    {% endcase %}
  {% endif %}
{% endif %}
