{%- comment -%}
  Get post description or generate it from the post excerpt.
{%- endcomment -%}

{%- assign max_length = include.max_length | default: 200 -%}

{%- capture description -%}
{%- if include.description -%}
  {{- include.description -}}
{%- elsif include.excerpt -%}
  {{- include.excerpt -}}
{%- else -%}
  {{- content | strip_html | newline_to_br | replace: '<br />', ' ' | strip_newlines -}}
{%- endif -%}
{%- endcapture -%}

{{- description | strip | truncate: max_length | escape -}}
