<link rel="stylesheet" type="text/css" href="https://github.com/JiHa-Kim/jiha-kim.github.io/blob/main/dist/fonts.css">
<script src="https://github.com/JiHa-Kim/jiha-kim.github.io/blob/main/dist/tikzjax.js"></script>

<style>
/* Target TikZJax rendered SVG containers */
svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white !important;
  border-radius: 4px;
  padding: 4px;
  margin-top: 1em;
  margin-bottom: 1em;

  /* Make it responsive */
  width: 100%;
  height: auto;
  max-width: 100%;
}
</style>

<!-- To use TikZJax, write your TikZ code inside a <script type="text/tikz"> tag. For example: -->
<!--
<script type="text/tikz">
  \begin{tikzpicture}
    \draw (0,0) circle (1in);
  \end{tikzpicture}
</script>
-->

