---
layout: default
---
{% include lang.html %}

<h1 class="text-center mb-5">{{ page.page_title }}</h1>
{{ content }}

{% assign grouped = site[page.collection_name] | group_by_exp: 'doc', "doc.url | split: '/' | slice: 2,1 | first" %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for grp in grouped %}
    {% assign slug = grp.name %}

    {% assign meta = grp.items | where: 'layout', page.collection_landing_layout | first %}
    {% assign ordered = grp.items | where_exp: 'item', "item.layout != page.collection_landing_layout" | sort: page.collection_sort_field %}
    {% assign first_item = ordered | first %}

    {%
      include collection-card.html
      meta=meta
      ordered=ordered
      first_item=first_item
      slug=slug
    %}
  {% endfor %}
</div>
