---
layout: default
refactor: false
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
script_includes:
  - comment
---
{% include lang.html %}

<article class="post-content" data-toc="{{ page.toc }}">
  <header class="post-header mb-6">
    <h1 class="post-title" data-toc-skip>{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc lead mb-4">{{ page.description }}</p>
    {% endif %}
  </header>

  <div class="content mb-8">
    {{ content }}
  </div>

  <div class="post-tail text-muted mt-8">
    <div class="post-meta">
      <span class="me-4">
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=page.date lang=page.lang %}
      </span>
      {% if page.last_modified_at and page.last_modified_at != page.date %}
        <span>
          <i class="fas fa-edit fa-fw"></i>
          {% include datetime.html date=page.last_modified_at lang=page.lang %}
        </span>
      {% endif %}
    </div>

    {% include related-posts.html %}
    {% include post-nav.html %}
  </div>
</article>
